.MemberItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.member-info{
    display: flex;
    align-items: center;
}
.MemberItem img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
