.MemberItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.member-info {
  margin: 15px;
  display: flex;
  align-items: center;
}
.member-info .member-text {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.member-date {
  margin-right: 20px;
}
.MemberItem img {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}
.member-icon {
  position: relative;
}
.member-icon .far {
  position: absolute;
  top: 8vh;
  left: 8vh;
  color: #719b75;
}
