.MemberItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.member-info{
    margin: 10px;
    display: flex;
    align-items: center;
}
.member-info .member-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.MemberItem img{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
